.image-container {
    float: left;
    width: 50%;
    margin-top:5rem;
    height: 28rem;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:30vw;
    background-image: url("https://www.topachat.com/boutique/img/in/in1011/in10117193/in1011719302@2x.jpg");
}
.desc-container {
    float: right;
    width: 50%;
    margin-top:10rem;
    height: 20rem;
}

.choix {
    text-align: center;
}

#select4 {
    position: absolute;
    width:15rem;
    height:1.5rem;
    margin-left:17%;
    margin-top:-1.4rem;
    opacity:0;
    cursor: pointer;
}

.commentaire-container {
    position: absolute;
    margin-top: 35rem;
    width: 100%;
    height:auto;
    border-top: #0398a1 2px solid;
    padding-bottom: 2rem;
}

.write-commentaire{
    position: absolute;
    margin-top: 35rem;
    width: 100%;
    height:auto;
    padding-bottom: 2rem;
    border-top: #0398a1 2px solid;
}

.admin-part {
    position: absolute;
    margin-top: 35rem;
    width: 100%;
    height:auto;
    border-top: #0398a1 2px solid;
}

.average-container {
    height: 5rem;
    width: 100%;
}

.com {
    width:100%;
    height:auto;
}

.rate {
    width: 6rem;
    height: 1rem;
    float: left;
    margin-left:0.6rem;
    margin-top: 0.6rem;
}

.star {
    color:#fca903;
    font-size: 12px;
    display: inline;
    margin-left:-0.3rem;
}

.span-etoile {
    width: 20%;
    height: 100%;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: transparent;
    color:white;
}

.user-icon {
    float: left;
    margin-left:20%;
}

.name {
    float: left;
    margin-left:0.4rem;
    margin-top: 0.7rem;
}

.message-container {
    background-color: #e8f4ff;
    border-radius: 0.3rem;
    width: 60%;
    height: 10rem;
    float: left;
    margin-left: 20%;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(97, 97, 97, 1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(97, 97, 97, 1);
    box-shadow: inset 0px 0px 5px 0px rgba(97, 97, 97, 1);
    overflow: auto;
    padding: 0.5rem;
    margin-bottom: 2rem;
}
.message {
    position:relative;
    text-align: left;
    margin:0;
}

.average {
    float: left;
    margin-left: 10%;
}

#global {
    margin-top: 1.6rem;
}

.noteA {
    float: left;
    margin-left:0.3rem;
    margin-top: 1.7rem;
}

.note {
    float: left;
    margin-left:0.3rem;
    margin-top: 0.8rem;
}

#num{
    width:10%;
    margin-left: 45%;
    border-radius: 0.1rem;
    border: none;
    border-bottom: #d1d1d1 solid 1px;
    overflow: hidden;
}

.left {
    position: relative;
    text-align: left;
    margin-left: 5%;
}

#info {
    float:right;
    margin-right: 20%;
    text-align: left;
}

#select6 {
    position:absolute;
    width:3rem;
    margin-top:-1.2rem;
    margin-left: 9.5%;
}

.onglet {
    position: absolute;
    z-index: 1;
    width:12rem;
    height: 2rem;
    float: left;
    margin-left: 0.5rem;
    top: 33rem;
    border: #0398a1 2px solid;
    border-bottom: none;
    background-color: white;
    cursor: pointer;
}

.onglet p {
    margin: 0;
}

#onglet2 {
    z-index: -1;
    margin-left: 12.7rem;
}

#onglet3 {
    z-index: -1;
    margin-left: 24.9rem;
}

#mycom {
    background-color: #e8f3ff;
    border-radius: 0.3rem;
    width: 60%;
    height: 10rem;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(97, 97, 97, 1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(97, 97, 97, 1);
    box-shadow: inset 0px 0px 5px 0px rgba(97, 97, 97, 1);
    overflow: auto;
    padding: 0.5rem;
}

.mynote {
    float: left;
    text-align: left;
    margin-top: 3%;
    margin-left:10%;
}

#select7 {
    float: left;
    width: 3rem;
    margin-top: 3.2%;
    margin-left:0.5rem;
}

.firstAvis{
    text-align: center;
    margin-top: 2rem;
    font-family: 'Roboto';
    font-size: 30px;
}

#prix-total{
    font-size: 25px;
}

.date {
    float: right;
    margin-right:20%;
    margin-top: 0.7rem;
}

.stock-form {
    position: absolute;
    transform: translate(-50%);
    margin-top: 5rem;
    margin-left: 20%;
}

.price-form {
    position: absolute;
    transform: translate(-50%);
    margin-top: 5rem;
    margin-left: 80%;
}

.modif {
    margin-top:1rem;
    background-color: transparent;
    border: #06bcc7 2px solid;
    border-radius: 0.2rem;
    width: 20%;
    height: 2rem;
    margin-left: 40%;
}

.modif:hover {
    background-color: #06bcc7;
}

.number {
    margin-top: 0.5rem;
    border: none;
    border-bottom: #aaaaaa 1px solid;
    height: 1.5rem;
}

.ok {
    width:3rem !important;
    height: 1.5rem !important;
    margin-left: 35% !important;
}

.name-form {
    position: absolute;
    transform: translate(-50%);
    margin-top: 5rem;
    margin-left: 50%;
}

.sup-btn {
    float: right;
    margin-right: 1%;
    margin-top: 0.7rem;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border: none;
    background-color: #e8f4ff;
    transition: 0.1s ease-in-out;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(97, 97, 97, 1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(97, 97, 97, 1);
    box-shadow: inset 0px 0px 5px 0px rgba(97, 97, 97, 1);
    height: 2.2rem;
    width: 2rem;
}

.sup-btn:hover {
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(97, 97, 97, 1);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(97, 97, 97, 1);
    box-shadow: inset 0px 0px 8px 0px rgba(97, 97, 97, 1);
    color: black;
}









